:root{
    --secondary:red;
    --value1:30px;
}


--var = color , value 
var(--secondary)


calc()  // sum , subtract , multiple , division 
font-size:calc( var(--value1)+50px);



javascript 

document.querySelector('')
addEventListener('click',()=>{})



media Query 
@media (max-width:700px){
# jis property ko change karo , sirf usse hi likha rehne dena , baki sabhi ko delete kar dena 
# one section complete then media query 





}

hindi 

model - translator

mysqli - chainse
oracle - german
mongodb - russian 



localhost/about
view - function 

def about(request):
    data pass
    data fetch 
    return  template - ( context )
    
    
    about.html 







