{% extends 'index.html' %}


{% block 'main' %}
<div class="container">
    <div class="profile ">
        <div class="profile-nav order-nav">
            <img src="https://i.pinimg.com/736x/ba/d7/86/bad786dfe4f227555be6fa2484b0b9a3.jpg" alt="">
            <h2>Arvaz</h2>
            <ul>
                <li><a href=""><i class="fa-regular fa-user"></i> Profile</a></li>
                <li><a href=""><i class="fa-solid fa-clock-rotate-left"></i> Order History</a></li>
            </ul>
        </div>
        <div class="order">
            <p>Basic Info</p>
            <table class="">
                <tr>
                    <th ></th>
                    <th >Product</th>
                    <th>Quantity</th>
                    <th>price</th>
                    <th>Status</th>
                </tr>

                <tr>
                    <td><img src="https://d3gy1em549lxx2.cloudfront.net/45605478-7a8f-43e9-a34d-73d950964989.jpg" alt=""></td>
                    <td>Noodles</td>
                    <td>1</td>
                    <td>160</td>
                    <td><button>Complete</button></td>
                </tr>

                <tr>
                    <td><img src="https://d3gy1em549lxx2.cloudfront.net/45605478-7a8f-43e9-a34d-73d950964989.jpg" alt=""></td>
                    <td>Noodles</td>
                    <td>1</td>
                    <td>160</td>
                    <td><button>Complete</button></td>
                </tr>



                <tr>
                    <td><img src="https://d3gy1em549lxx2.cloudfront.net/45605478-7a8f-43e9-a34d-73d950964989.jpg" alt=""></td>
                    <td>Noodles</td>
                    <td>1</td>
                    <td>160</td>
                    <td><button>Complete</button></td>
                </tr>



                <tr>
                    <td><img src="https://d3gy1em549lxx2.cloudfront.net/45605478-7a8f-43e9-a34d-73d950964989.jpg" alt=""></td>
                    <td>Noodles</td>
                    <td>1</td>
                    <td>160</td>
                    <td><button>Complete</button></td>
                </tr>


              
            </table>
        </div>
    </div>
</div>

{% endblock %}