{% extends 'index.html' %}

{% block 'main' %}
<div class="container">
    <div class="profile">
        <div class="profile-nav">
            <img src="{{data.profilepic.url}}" alt="">
            <h2>{{user.first_name}}</h2>
            <ul>
                <li><a href=""><i class="fa-regular fa-user"></i> Profile</a></li>
                <li><a href=""><i class="fa-solid fa-clock-rotate-left"></i> Order History</a></li>
            </ul>
        </div>
        <div class="profile-details">
            <p>Profile Edit </p>
            <!-- {{allkey}}
            {% for key,item in allkey %}
                {{key}}-{{item}}
            {% endfor %} -->
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

            <table>
                

                <tr>
                    <td>YOUR IMAGE</td>
                    <td><input type="file" name="image" value="{{data.profilepic}}"></td>
                </tr>

                <tr>
                    <td>BIO</td>
                    <td><input type="text" name="bio" value="{{data.bio}}"></td>
                </tr>

                <tr>
                    <td>Address</td>
                    <td><input type="text" name="address" value="{{data.address}}"></td>
                </tr>

                <tr>
                    <td><input type="submit" value="save"></td>
                </tr>
            </table>
        </form>
        </div>
    </div>
</div>
{% endblock %}

    
