{% include 'partial/navbar.html' %}




    {% block 'main' %}



    <div class="container">

        <div class="product-section">
            


            <div class="righ-products">
                <h1>WishList</h1>
                <div class="product">

                    {% for i in data %}
                  
                    <div class="card">
                        
                        <div class="dot">{{i.category}}</div>
                        <a href="{% url 'singleproduct' i.id %}">
                        <img src="{{i.image.url}}"
                            alt="">
                        </a>
                        <div class="content">
                            <a href="{% url 'singleproduct' i.id %}"> <div class="title">{{i.name}}</div></a>
                            <div class="order">
                                <div class="price">₹ {{i.price}} <br>
                                    <p> <a href="{% url 'addwish' i.id %}"><i class="fa-solid fa-heart"></i></a>  </p>
                                </div>

                                <button> <a href="{% url 'cart'  i.id %}"> ADD</a></button>
                            </div>

                            <p>Available from 11:00AM</p>
                        </div>
                       
                    </div>
                   
                    
                    {% endfor %}
                   
  

              




                   

                </div>
               
            </div>
            
        </div>
        
    </div>

    </div>



    {% endblock %}
  

    {% include 'partial/footer.html' %}









