{% extends 'dashboard/dashboard.html' %}


{% block main %}




    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-6">
          <div class="card-body">
            <form role="form text-left"  action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
               {{fm.name}}
              </div>

              <div class="mb-3">
                {{fm.price}}
               </div>

               <div class="mb-3">
                {{fm.des}}
               </div>

               <div class="mb-3">
                {{fm.ingredient}}
               </div>

               <div class="mb-3">
                {{fm.category}}
               </div>

               <div class="mb-3">
                {{fm.image}}
               </div>

             
              <div class="text-center">
                <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Create Product</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> 


{% endblock %}

      