{% load static %}

<br>
<br>


<footer>
    <div class="container foot">
        <img class="foot-img" src="https://www.freshmenu.com/images/fm-header-logo.svg" alt="">
        <div class="left-foot">
            <div class="foot-box">
                <h3>COMPANY</h3>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
            <div class="foot-box">
                <h3>HELP & CONTACT</h3>
                <ul>
                    <li><a href="">080-4042-4242</a></li>
                    <li><a href="">Bulk/Party Order</a></li>
                    <li><a href="">Cake Order</a></li>

                </ul>
            </div>
            <div class="foot-box">
                <h3>MORE FROM US</h3>
                <ul>
                    <li><a href="">Bulk/Party Order</a></li>
                    <li><a href="">Cake Order</a></li>
                    <li><a href="">FreshClub</a></li>
                    <li><a href="">Offers</a></li>
                </ul>
            </div>
        </div>
        <div class="right-foot">

            <p>SUBSCRIBE TO OUR DROOLWORTHY NEWSLETTER</p>
            <label><input type="text" placeholder="Enter your Email"> <input type="submit"
                    value="subscribe"></label>
            <div class="social">
                <img src="https://www.freshmenu.com/pages/common/images/google-play.jpg" alt="">
                <img src="https://www.freshmenu.com/pages/common/images/btn-app-store-normal-2.svg" alt="">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
</footer>


</body>

</html>

<script src="{% static 'script.js' %}"></script>


